body {
  background-color:#0000ff;
  filter: blur(35px) saturate(300%);
  overflow-x: hidden;
  height:100%;
  position:relative;

}

@font-face {
  font-family: Canopee;
  src: url('assets/Canopee.otf');
}

.scroll{
  font-family: Canopee;
  text-shadow: 0 0 50px #ff0000;
  color: transparent;
  font-size: 90vh;
  animation: marquee1 50s linear infinite;
  display: block;
  min-width: 100%;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;

}

.scroll2{
  font-family: Canopee;
  font-size: 90vh;
  text-shadow: 0 0 50px #ff0000;
  color: transparent;
  animation: marquee2 50s linear infinite;
  display: block;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;

}

@keyframes marquee1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
