body {
  background-color:#0000ff;
  overflow: hidden;
  filter: blur(35px) saturate(300%);
}

@font-face {
  font-family: Canopee;
  src: url('assets/Canopee.otf');
}

.scroll{
  font-family: Canopee;
  font-size: 90vh;
  text-shadow: 0 0 50px #ff0000;
  color: transparent;
  position: absolute;
}

.scroll2{
  font-family: Canopee;
  font-size: 90vh;
  text-shadow: 0 0 50px #ff0000;
  color: transparent;
  z-index: 9;
}

.container{
  width: 100vw;
  height: 100vh;
}
