body{
  background-color:#FFFFFF;
  background-image: url('./assets/daisy.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: 'Regular';
  src: url('assets/NeueHaasGroteskText-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Bold';
  src: url('assets/NeueHaasGroteskText-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Remix';
  src: url('assets/GroteskRemix-Light.otf') format("opentype");
}

a:link {
  text-decoration: none;
  color: #EFEFEF ;
}

a:visited {
  text-decoration: none;
  color: #EFEFEF ;
}

a:hover{
  font-family: Regular;
  text-decoration: none;
  color: #EFEFEF ;
}

a:active {
  text-decoration: none;
  color: #EFEFEF ;
}

.contact{
  color: #EFEFEF ;
  font-family: Bold;
  text-align: left;
  padding-left: 10vw;
  font-size: 10vh;
  line-height: 50vh;
}

/* OLD VERSION - BANNER SCROLL */

/* body {
  background-color:#0000ff;
  filter: blur(35px) saturate(300%);
  overflow-x: hidden;
  height:100%;
  position:relative;

}

@font-face {
  font-family: Canopee;
  src: url('assets/Canopee.otf');
}

.scroll{
  font-family: Canopee;
  text-shadow: 0 0 50px #ff0000;
  color: transparent;
  font-size: 90vh;
  animation: marquee1 50s linear infinite;
  display: block;
  min-width: 100%;
  position: absolute;
  black-space: nowrap;
  overflow: hidden;

}

.scroll2{
  font-family: Canopee;
  font-size: 90vh;
  text-shadow: 0 0 50px #ff0000;
  color: transparent;
  animation: marquee2 50s linear infinite;
  display: block;
  position: absolute;
  black-space: nowrap;
  overflow: hidden;

}

@keyframes marquee1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
} */
